<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2026 tareqmy.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Id="*"
        Name="gitwig"
        UpgradeCode="9EF6FB51-0A8F-44FA-A8F8-FE67FF6DDC88"
        Manufacturer="tareqmy"
        Language="1033"
        Codepage="1252"
        Version="$(var.Version)">

        <Package Id="*"
            Keywords="Installer, Git, TUI"
            Description="a rust based terminal user interface for git"
            Manufacturer="tareqmy"
            InstallerVersion="450"
            Languages="1033"
            Compressed="yes"
            InstallPrivileges="elevated"
            InstallScope="perMachine"
            SummaryCodepage="1252"
            Platform="$(var.Platform)"/>

        <MajorUpgrade
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1"/>
        <Property Id="DiskPrompt" Value="gitwig Installation"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="APPLICATIONFOLDER" Name="gitwig">
                    <!-- The main binary component -->
                    <Component Id="gitwig_exe" Guid="*" Win64="$(var.Win64)">
                        <File Id="gitwig_exe"
                            Source="$(var.CargoTargetBinDir)\gitwig.exe"
                            KeyPath="yes"/>
                    </Component>
                    
                    <!-- EULA/License Component -->
                    <Component Id="License" Guid="*" Win64="$(var.Win64)">
                        <File Id="LicenseFile"
                            Name="License.rtf"
                            Source="wix\License.rtf"
                            KeyPath="yes"/>
                    </Component>

                    <!-- Path environment component -->
                    <Component Id="Path" Guid="B66A48E4-9BE8-44A5-926B-955B519C17E8" Win64="$(var.Win64)" KeyPath="yes">
                        <Environment Id="PATH" Name="PATH" Value="[APPLICATIONFOLDER]" Part="last" Action="set" System="yes"/>
                    </Component>
                    
                    <!-- MSVC runtime Merge Module referenced internally -->
                    <Merge Id="VCRedist" 
                           SourceFile="wix\Microsoft_VC142_CRT_x64.msm" 
                           DiskId="1" 
                           Language="0"/>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="Main" Title="gitwig" Level="1">
            <ComponentRef Id="gitwig_exe"/>
            <ComponentRef Id="License"/>
            <ComponentRef Id="Path"/>
            <MergeRef Id="VCRedist"/>
        </Feature>

        <WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf"/>
        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
        <UIRef Id="WixUI_InstallDir" />

    </Product>
</Wix>
